body{
  background-color: #282c34;
}
.App {
  text-align: center;
  color: white;
  
}
.hourly{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color:white;
  
}
.forecastContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dayContainer{
  width:100%;
}

button{
  font-size: calc(8px + 1vmin);
  -webkit-font-smoothing: antialiased;
  border:1px solid white;
  background-color: #282c34;
  color:white;
  border-radius: 5px;
}
.topContainer{
  background-color: #22252c ;
}
table{
  background-color: #22252c;
  padding:2vw;
  border-radius: 5px;
  width:100%;
}
.hourData{
  padding: 0.3vw;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1{
  margin:0px;
  padding:1vh;
  font-size: calc(10px + 4vmin);
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: #22252c;
}

.App-header {
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly; 
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 5vw;
  padding-right: 5vw;
  background-image: linear-gradient(180deg, #22252c, #282c34);
}
.headerData{
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding-top:1px;  
}
.subHeader{
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  border-bottom: 2px solid white;
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
}
.daily{
  margin:0px;

}
.headline{
  font-size: calc(10px + 3vmin);
}
.dailyContainer{
  display:flex;
  align-items:flex-start;
  justify-content: space-evenly;
  font-size: calc(10px + 1vmin);
  margin-top:1vh;
  margin-bottom: 1vh;
}

.App-link {
  color: #61dafb;
}

