body{
  background-color: #282c34;
}
.App {
  text-align: center;
  color: white;
  
}
.hourly{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color:white;
  
}

table{
  /* border: 1px solid white; */
}
.hourData{
  padding: 0.3vw;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
   min-height: 15vh;
  display: flex;
  
  align-items: center;
  justify-content: space-evenly; 
  font-size: calc(10px + 2vmin);
  color: white;
  
}
.headerData{
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding-top:1px;  
}
.subHeader{
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  border-bottom: 2px solid white;
  font-size: calc(10px + 2vmin);
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
